body {
    background-color: #333;
    color: white;
}
#gameMap {
    border: 3px solid white;
    height: 72px;
    margin-bottom: 5px; 
    position: relative;   
}
#gameMap .robot {
   width: 72px;
   height: 72px;
   background-image: url(icons/Robot-icon.png);
   display: inline-block;
}
#gameMap .wrench {
    width: 48px;
    height: 48px;
    background-image: url(icons/62968-wrench-icon.png);
    display: inline-block;
    border: 1px solid red;
    position: absolute;
    top: 12px;
}
.controls {
    text-align: center;
}